/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Qc {
            bindings = <&kp Q>;
            key-positions = <2 10 3 13>;
        };

        Wc {
            bindings = <&kp W>;
            key-positions = <10 2 3 15>;
        };

        Rc {
            bindings = <&kp R>;
            key-positions = <2 3>;
        };

        BackspaceC {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 13>;
        };

        Yc {
            bindings = <&kp Y>;
            key-positions = <20 3 13>;
        };

        Uc {
            bindings = <&kp U>;
            key-positions = <20 3>;
        };

        Ic {
            bindings = <&kp I>;
            key-positions = <2 21>;
        };

        Oc {
            bindings = <&kp O>;
            key-positions = <10 20 3 15>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEF {
            bindings = <
&kp ESC    &sk LEFT_SHIFT                   &kp T                            &kp UP               &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9
&sk LCTRL  &kp TAB         &sk LGUI  &kp A  &kp S         &kp E    &kp LEFT  &kp V     &kp RIGHT  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6
           &sk LEFT_ALT                     &kp SPACE                        &kp DOWN             &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3
&kp SPACE  &kp J                            &kp LEFT_ALT  &kp E    &kp L     &kp N                &kp N0        &kp DOT       &kp ENTER
            >;
        };
    };
};
