/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_q {
            bindings = <&kp Q>;
            key-positions = <2 10 3 13>;
        };

        combo_w {
            bindings = <&kp W>;
            key-positions = <10 2 3 15>;
        };

        combo_r {
            bindings = <&kp R>;
            key-positions = <2 3>;
        };

        combo_backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 13>;
        };

        combo_y {
            bindings = <&kp Y>;
            key-positions = <20 3 13>;
        };

        combo_u {
            bindings = <&kp U>;
            key-positions = <20 3>;
        };

        combo_i {
            bindings = <&kp I>;
            key-positions = <2 21>;
        };

        combo_o {
            bindings = <&kp O>;
            key-positions = <10 20 3 15>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEF {
            bindings = <
&kp ESC    &kt LEFT_SHIFT                   &kp T                            &kp UP               &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9
&kt LCTRL  &kp TAB         &kt LGUI  &kp A  &kp S         &kp E    &kp LEFT  &kp TAB   &kp RIGHT  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6
           &kt LEFT_ALT                     &kp SPACE                        &kp DOWN             &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3
&kp SPACE  &mo 1                            &kp LEFT_ALT  &kp E    &kp L     &kp N                &kp N0        &kp DOT       &kp ENTER
            >;
        };

        LWR {
            bindings = <
&trans  &trans                  &trans                            &bt BT_SEL 1               &kp F7   &kp F8   &kp F9
&trans  &trans  &trans  &trans  &trans  &trans      &bt BT_SEL 0  &bt BT_CLR   &bt BT_SEL 2  &kp F4   &kp F5   &kp F6
        &trans                  &trans                            &trans                     &kp F1   &kp F2   &kp F3
&trans  &trans                  &trans  &trans      &trans        &trans                     &kp F10  &kp F11  &kp F12
            >;
        };
    };
};
