if SHIELD_PAVLO2_LEFT

config ZMK_KEYBOARD_NAME
    default "Pavlo2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PAVLO2_LEFT || SHIELD_PAVLO2_RIGHT

config ZMK_SPLIT
    default y
endif